<div id='main' role='main' class='content'>

<h1>C&oacute;mo opera QPR?</h1>

<ol>
<li>Visualizar la problematica ambiental de la Cuenca Matanzas-Riachuelo.</li>

<li>Seguir los avances de la gesti&oacute;n publica respecto a la Causa Mendoza.</li>

<li>Monitorear el riesgo ambiental de Industrias y basurales y la vulnerabilidad de la poblaci&oacute;n de villas y asentamientos dentro de la Cuenca.</li>
</ol>

<!-- 
<a name="semaforo-industrias"></a><h2>Conformaci&oacute;n del Sem&aacute;foro de Industrias<sup><a href="#semaforo">a</a></sup></h2>
<p>El sem&aacute;foro&nbsp;de industrias&nbsp;de la cuenca Matanza-Riachuelo es una herramienta de visualizaci&oacute;n y ponderaci&oacute;n del riesgo ambiental, la gesti&oacute;n y el comportamiento legal de las empresas de los establecimientos productivos de&nbsp;la cuenca.</p>

<p>El sem&aacute;foro trabaja con informaci&oacute;n producida por ACUMAR, espec&iacute;ficamente las declaraciones juradas para el <a href="http://www.sicmar.gov.ar/index/index.html">CURT </a>2010/2011 y los informes de las inspecciones y fiscalizaciones efectuadas por el organismo y que forman parte de la documentaci&oacute;n informada al Juzgado Federal de Quilmes. </p>

<p>La base de datos de esta etapa est&aacute; constituida por los declarados Agentes Contaminantes&nbsp;(AC).</p>

<p>El sem&aacute;foro de Industrias de QPR cuenta con dos &iacute;ndices que visualizan y expresan de manera separada. </p>

<ol start="1">
				<li>
								<h4><a href="#indice-riesgo-ambiental">&Iacute;NDICE DE RIESGO AMBIENTAL</a></h4>
				</li>
				<li>
								<h4><a href="#indice-comportamiento-legal">&Iacute;NDICE DE COMPORTAMIENTO LEGAL</a></h4>
				</li>
</ol>

<p class="semaforo" >Explicaci&oacute;n del Sem&aacute;foro Ambiental</p>
<div class="indice riesgo-ambiental">
<a name="indice-riesgo-ambiental"><h4>INDICE DE RIESGO AMBIENTAL</h4>
<p>El mismo pondera el nivel de riesgo ambiental, objetivo o &nbsp;material, que representa cada una de las industrias y/o establecimientos radicados en la CMR. Dicho &iacute;ndice ha sido elaborado tomando como base lo dispuesto en la&nbsp;la <a href="http://www.ambiente.gov.ar/archivos/web/DNorAmb/file/res_1639_2007.pdf">Res. SAyDS n&deg; 1639/2007</a><sup class="c2"><a href="#ftnt1" name="ftnt_ref1">[1]</a></sup>, que aprueba el listado de rubros comprendidos y la categorizaci&oacute;n de industrias y actividades de servicios seg&uacute;n su nivel de complejidad ambiental (NCA)&nbsp;y en base a la informaci&oacute;n p&uacute;blica disponible, emanada de los informes de fiscalizaci&oacute;n de industrias producidos por ACUMAR, y los que surgen de las declaraciones juradas emitidas por la empresas en virtud del empadronamiento&nbsp;(<a href="http://www.sicmar.gov.ar/index/index.html">CURT</a>)&nbsp;que se encuentran disponibles en el sitio para su consulta.</p>
<p>El nivel de riesgo ambiental de un establecimiento industrial o de servicios est&aacute; siendo ponderado seg&uacute;n la siguiente formula polin&oacute;mica: &nbsp;</p>

<p class="nota">IRA = rubro (Ru) 35% + efluentes y residuos (Er) 39% + dimensi&oacute;n (Di) &nbsp;21% + localizaci&oacute;n (Lo) 5%</p>

<p>El resultado de esta formula aparece expresado (en la columna &quot;riesgo&quot;) en la tabla de de industrias como un porcentaje respecto al total de riesgo posible (esto nos permite generar gr&aacute;ficos estandarizados y la inclusi&oacute;n de nuevas dimensiones).</p>
<p>a) Rubro (Ru).&nbsp;De acuerdo con la <a href="http://www.agencia.mincyt.gov.ar/IMG/pdf/listado_CIIU.pdf">clasificaci&oacute;n internacional de actividades (CIIU)</a>, se dividen en tres grupos con la siguiente escala de valores (<a href="http://www.ambiente.gov.ar/archivos/web/DNorAmb/file/res_1639_2007.pdf">Res. SAyDS n&deg; 1639/2007</a>): </p>

<ol start="1">
				<li>Grupo 1 = valor 1 </li>
				<li>Grupo 2 = valor 5 </li>
				<li>Grupo 3 = valor 10 </li>
</ol>

<p>Ver listado de actividades en la <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ambiente.gov.ar%2Farchivos%2Fweb%2FDNorAmb%2Ffile%2Fres_1639_2007.pdf&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEXpgHMTmV77wwfpri_3ohWsjKFPg">Resoluci&oacute;n</a><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ambiente.gov.ar%2Farchivos%2Fweb%2FDNorAmb%2Ffile%2Fres_1639_2007.pdf&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEXpgHMTmV77wwfpri_3ohWsjKFPg">&nbsp;1639/2007, Anexo</a><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ambiente.gov.ar%2Farchivos%2Fweb%2FDNorAmb%2Ffile%2Fres_1639_2007.pdf&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEXpgHMTmV77wwfpri_3ohWsjKFPg">&nbsp;1 </a></p>
<p>(b) Efluentes y Residuos (ER)#.&nbsp;La calidad de los efluentes y residuos que genere se clasifican &uacute;nicamente como de tipo O, 1 &oacute; 2, habida cuenta la informaci&oacute;n p&uacute;blica disponible y seg&uacute;n el siguiente detalle:</p>

<ul>

<li><h4>Tipo 0 = valor 0</h4>
<p>&bull; Gaseosos: componentes naturales del aire (incluido vapor de agua); gases de combusti&oacute;n de gas natural.</p>
<p>&bull; L&iacute;quidos: agua sin aditivos; lavado de planta de establecimientos del Rubro 1, a temperatura ambiente.</p>
<p>&bull; S&oacute;lidos y Semis&oacute;lidos: asimilables a domiciliarios.</p>

<li><h4>Tipo 1 = valor 3</h4>
<p>&bull;Gaseosos: gases de combusti&oacute;n de hidrocarburos l&iacute;quidos.</p>
<p>&bull;L&iacute;quidos: agua de proceso con aditivos y agua de lavado que no contengan residuos peligrosos o que no pudiesen generar residuos peligrosos.</p>
<p>&bull;Provenientes de plantas de tratamiento en condiciones &oacute;ptimas de funcionamiento.</p>
<p>&bull; S&oacute;lidos y Semis&oacute;lidos: resultantes del tratamiento de efluentes l&iacute;quidos del tipo O y/o 1. Otros que no contengan residuos peligrosos o de establecimientos que no pudiesen generar residuos peligrosos.</p>

<li><h4>Tipo 2 = Valor 6</h4>
<p>&bull;Gaseosos: Todos los no comprendidos en los tipos O y 1.</p>
<p>&bull;L&iacute;quidos: con residuos peligrosos, o que pudiesen generar residuos</p>
<p>peligrosos. Que posean o deban poseer m&aacute;s de un tratamiento.</p>
<p>&bull;S&oacute;lidos o Semis&oacute;lidos: que puedan contener sustancias peligrosas o</p>
<p>pudiesen generar residuos peligrosos.</p>
</ul>
<p>En aquellos casos en que los efluentes y residuos generados en el establecimiento correspondan a una combinaci&oacute;n de m&aacute;s de un Tipo, se le asignar&aacute; el Tipo de mayor valor num&eacute;rico. (c) </p>

<p>Riesgo&nbsp;(RI). Se tendr&aacute;n en cuenta los riesgos espec&iacute;ficos de la actividad, que pueda afectar a la poblaci&oacute;n al medio ambiente circundante, asignando 1 punto por cada uno, a saber: Efluentes y Residuos (ER). </p>

<p>(c) Dimensionamiento (Di).</p>
<p>&nbsp;La dimensi&oacute;n del establecimiento tendr&aacute; en cuenta la dotaci&oacute;n &nbsp;de personal, la potencia instalada y la superficie: </p>
<p>&bull;Cantidad de personal: </p>
<ul>
				<li>-hasta 15 personas = valor 0; </li>
				<li>-entre 16 y 50 personas = valor 1; </li>
				<li>-entre 51 y 150 personas = valor 2; </li>
				<li>-entre 151 y 500 personas = valor 3; </li>
				<li>-m&aacute;s de 500 personas = valor 4. </li>
</ul>
<p>&bull;Potencia instalada (en HP): </p>
<p>-Hasta 25: adopta el valor 0; </p>
<p>-De 26 a 100: adopta el valor 1; </p>
<p>-De 101 a 500: adopta el valor 2; </p>
<p>-Mayor de 500: adopta el valor 3. </p>

<p>&bull;Relaci&oacute;n entre Superficie cubierta y Superficie total: </p>
<p>-Hasta 0,2: adopta el valor 0; </p>
<p>-De 0,21 hasta 0,5 adopta el valor 1; </p>
<p>-De 0,51 a 0,81 adopta el valor 2; </p>
<p>-De 0,81 a 1,0 adopta el valor 3. </p>

<p>(d) Localizaci&oacute;n (Lo).&nbsp;La localizaci&oacute;n del establecimiento, tendr&aacute; en cuenta la zonificaci&oacute;n municipal y la infraestructura de servicios que posee. </p>
<p>&bull;Zona: Parque industrial = valor 0; </p>
<p>&bull;Industrial Exclusiva y Rural = valor 1; </p>
<p>&bull;el resto de las zonas = valor 2.</p>
</div>

<div class="indice comportamiento-legal">
<a name="indice-comportamiento-legal">
<h4>&Iacute;NDICE DE COMPORTAMIENTO LEGAL</h4>
<p>Este&nbsp;&iacute;ndice&nbsp;pondera el comportamiento&nbsp;y&nbsp;la gesti&oacute;n&nbsp;de las industrias en relaci&oacute;n a las decisiones adoptadas por el&nbsp;ACUMAR, en cumplimiento del fallo emitido por la Corte Suprema de la Naci&oacute;n.</p>
<p>La conformaci&oacute;n de este &iacute;ndice obedece a la necesidad de conocer cual es el comportamiento que realiza cada una de las empresas que fueron declaradas como Agentes Contaminantes del Riachuelo por la ACUMAR. </p>
<p>En este sentido y en virtud del mandato impuesto por la Corte Suprema de Justicia de la Naci&oacute;n, la ACUMAR dict&oacute; la <a href="http://www.acumar.gov.ar/informacionPublica_normativa_texto.php?id=5&amp;vo=5">Res. 366/10</a>&nbsp;que establece que se considerar&aacute; &ldquo;Agente Contaminante&rdquo; (AC)&nbsp;a los establecimientos que se encuentre radicados en el &aacute;mbito de la Cuenca Matanza Riachuelo conforme lo previsto en el art&iacute;culo 1&ordm; de la <a href="http://www.infoleg.gov.ar/infolegInternet/anexos/120000-124999/122769/norma.htm">Ley N&ordm; 26.168</a>, como as&iacute; tambi&eacute;n a aquellos que hayan sido demandados en la causa &quot;MENDOZA, BEATRIZ SILVIA Y OTROS C/ ESTADO NACIONAL Y OTROS S/DA&Ntilde;OS Y PERJUICIOS (da&ntilde;os derivados de la contaminaci&oacute;n ambiental del R&iacute;o Matanza - Riachuelo)&quot; que generen emisiones gaseosas o residuos s&oacute;lidos en contravenci&oacute;n a la legislaci&oacute;n&nbsp;aplicable, o que no permitan preservar u alcanzar los objetivos de calidad fijados para los mismos, o que no cumplan con los l&iacute;mites establecidos en la Tabla Consolidada de L&iacute;mites Admisibles para Descargas de Efluentes L&iacute;quidos establecidos por la Resoluci&oacute;n <a href="http://www.acumar.gov.ar/NormativaDB/ACUMAR/Resoluciones/res2007001.pdf">ACUMAR N&ordm; 1/2007</a>&nbsp;y sus modificatorias. </p>
<p>Que asimismo y siguiendo los lineamientos establecidos por la CSJN, los titulares de establecimientos declarados como &quot;Agentes Contaminantes&quot; deber&aacute;n presentar ante la ACUMAR un &quot;Programa de Reconversi&oacute;n Industrial&quot; (PRI), dentro del plazo de treinta (30) d&iacute;as h&aacute;biles de notificado el acto que lo declare como tal.</p>
<p>&nbsp;Que en los supuestos de no presentaci&oacute;n de los PRI en los plazos establecidos, o los mismos fueran desestimados o declarados inadmisibles, la ACUMAR podr&aacute; disponer el cese de los vertidos, as&iacute; como la clausura parcial o total del establecimiento, sin perjuicio de la aplicaci&oacute;n de las sanciones que correspondan conforme lo establecido en el Reglamento de Sanciones de la ACUMAR.</p>

<p>Por ello el presente &iacute;ndice pondera el comportamiento de los AC observando su evoluci&oacute;n en el tiempo, otorgando para ello una puntuaci&oacute;n variable en relaci&oacute;n con la actitud observada por los mismos en relaci&oacute;n al cumplimiento de las obligaciones legales establecidas por ACUMAR. </p>

<p>Puntuaci&oacute;n: </p>

<p>Industria reconvertida: 0</p>
<p>PRI aprobado: no hay datos</p>
<p>PRI presentado: 10</p>
<p>PRI no presentado: 15</p>
<p>PRI no presentado y fuera de t&eacute;rmino: 25</p>

<ol start="1">
				<li>Cada una de las empresas declaradas como AC le corresponder&aacute; una puntuaci&oacute;n inicial de 15 puntos, independientemente de su conducta en relaci&oacute;n con el PRI. </li>
				<li>Si la empresa no presentar&aacute; el PRI en el plazo legal establecido por la Reglamentaci&oacute;n dispuesta mediante Res. ACUMAR 366/10 se incrementar&aacute; su puntuaci&oacute;n en 10. Dicha puntuaci&oacute;n desaparecer&aacute; una vez que el establecimiento haya presentado su PRI y ACUMAR haya hecho p&uacute;blica dicha situaci&oacute;n. </li>
				<li>Cada establecimiento que cuente con el Plan de Reconversi&oacute;n Industrial&nbsp;(PRI)&nbsp;en ejecuci&oacute;n se le restar&aacute; 5 puntos. </li>
				<li>Cuando el AC termine de ejecutar su PRI y el mismo fuese aprobado / inspeccionado por parte de ACUMAR, la puntuaci&oacute;n disminuir&aacute; 5 puntos. </li>
				<li>Cuando la empresa es declarada como AC Reconvertido, de conformidad a lo dispuesto por la Res.872/11, se le restar&aacute;n otros 5 puntos, con lo que su puntaje en relaci&oacute;n al &iacute;ndice de Comportamiento Legal&nbsp;quedar&aacute; en cero. </li>
</ol>

<p>Agente contaminante (Ac): 15 &nbsp;</p>
<p>Empresa s/PRI presentado/fuera de plazo: AC +&nbsp;10: 25 &nbsp; </p>
<p>Empresa c /PRI en ejecuci&oacute;n: AC -&nbsp;5: &nbsp;10 &nbsp;</p>
<p>Empresa c/PRI terminado: AC - 10&nbsp;: &nbsp;5</p>
<p>Empresa reconvertida: &nbsp;0</p>
</div>
				<p><sup><a name="semaforo">a</a></sup> No se han incluido datos correspondientes al &iacute;tem Riesgo (Ri), en tanto los &uacute;nicos datos existentes surgen de las declaraciones juradas emitidas por los titulares de los establecimientos y no cuenta con datos provenientes de autoridad p&uacute;blica que permita corroborar la veracidad de los mismos.</p>
-->
<!-- BASURALES -->
<a name="basurales"></a>
<h2>Conformación de la visualización de Basurales a Cielo Abierto</h2>
<p>La entidad "Basurales" del mapa QPR es una herramienta de visualización de los basurales a cielo abierto (BAC) en la cuenca, que trabaja con información producida por ACUMAR, específicamente con el informe BAC de Julio 2010 y del documento "Plan Maestro de Gestión de Residuos Sólidos Urbanos" producido por ACUMAR<sup>1</sup></p>

<p>El criterio de selección de los basurales (BAC) seleccionados para esta etapa es el siguiente: se cartografiaron por consideraciones de tamaño e importancia las siguientes categorías:</p>

<ul>
<li>MACRO BASURALES CON MAS DE 15000 M3 CON RESIDUOS SOLIDOS URBANOS</li>
<li>MACRO BASURALES MUNICIPALES CUENCA ALTA</li>
<li>BASURALES CON MAS DE 500 M3 CON RESIDUOS SOLIDOS URBANOS</li>
<li>BASURALES ERRADICADOS - ESPACIOS RECUPERADOS</li>
<li>BASURALES ERRADICADOS - CON REINSERCION</li>
<li>BASURALES SANEADOS CON MANTENIMIENTO</li>
</ul>
</li>Erradicación: la información sobre la erradicación de los BAC se basa en los informes producidos por ACUMAR, presentados ante el Juzgado Federal de Quilmes durante el año 2011.
<p>Asimismo y para efectuar la clasificación de los “BAC” se han utilizado aquellas incluidas en el “Plan Maestro de Gestión de Residuos Sólidos Urbanos” producido por ACUMAR, aún cuando no ha sido encontrada ninguna definición sistemática y normalizada de las mismas<sup>2</sup>. 
<ul>
<li>CONSOLIDADO</li>
<li>CONSOLIDADO CON ASENTAMIENTO</li>
<li>DINÁMICO</li>
<li>NO CONSOLIDADO</li>
<li>NO CONSOLIDADO CON ASENTAMIENTO</li>
<li>NO CONSOLIDADO CON ASENTAMIENTO</li>
</ul>
</li>Erradicación: la información sobre la erradicación de los BAC se basa en los informes producidos por ACUMAR, presentados ante el Juzgado Federal de Quilmes durante el año 2011. En el caso de que un basural este identificado como erradicado aparecerá señalado en su ficha individual (ejemplo) mediante un cartel y una breve explicación bajo el titulo del mismo.

<h3>Proyecto asociado:</h3>
<h4>Evolución de Basurales</h4>
<p>Evolución y estado actual de los basurales de la cuenca Matanza-Riachuelo mediante técnicas de teledetección:
<p>Investigacion: Facultad de Agronomía, Universidad de Buenos Aires. Director: Dr. Martín F. Garbulsky (garbulsky@agro.uba.ar), Equipo: Sr. Facundo Facio.
La teledetección es una herramienta excelente para el inventario y el análisis ambiental y los recursos naturales, debido a su capacidad única de proveer una visión sinóptica de grandes.
<p><sup>1</sup> http://www.acumar.gov.ar/ACUsentencias/CausaMendoza/2010Diciembre/plan_integral_residuos.pdf<br />
<sup>2</sup> Hemos decidido incluirlas para contextualizar y ampliar el monitoreo sobre la gestión de los residuos que realiza la Autoridad de Cuenca.


<h4>Áreas de la superficie terrestre y su capacidad de repetición en el tiempo.</h4>
<p>La información proveniente de satélites de observación terrestre también han permitido el monitoreo de áreas utilizadas para la deposición de residuos. Por lo tanto, consideramos que la utilización de información provista por sensores a bordo de satélites puede ser de gran utilidad para analizar
la problemática planteada.
<p>El objetivo general del proyecto es generar una base de datos espacialmente explicita sobre la evolución y el estado actual de los basurales de la cuenca Matanza-Riachuelo.

<p>Los objetivos particulares de este proyecto son:

<ol>
<li>Desarrollar una metodología objetiva para el seguimiento y monitoreo de los basurales actuales o posibles futuros basada en sensores remotos.
<li>Cuantificar los cambios a lo largo del tiempo en el tamaño de los basurales a cielo abierto y por lo tanto en la ocupación del suelo por desechos de diferente origen.
</ol>
<h4>METODOLOGIA</h4>
<p>Planteamos en este proyecto utilizar diferentes fuentes de datos de teledetección para identificar y evaluar el estado de las áreas utilizadas como basurales para realizar estimaciones del cambio en su tamaño a través de ese período de tiempo y estudiar el estado actual.

<p>Se utilizarán imágenes satelitales de alta resolución espacial para el período 2000-2011.<br />
Utilizaremos imágenes provistas por satélites con alta resolución espacial como por ejemplo del satélite Ikonos. En estas imágenes se identificarán a partir de la ubicación actual de basurales y a través de interpretación visual de las imágenes, a lo largo del período mencionado, la ubicación y extensión hacia el pasado de los basurales a cielo abierto de la cuenca Matanza Riachuelo. Se confeccionará una leyenda de diferentes tipos de basurales para poder llevarla a
la cartografía final y para poder cuantificar los diferentes tipos de usos.

<h4>RESULTADOS ESPERADOS</h4>
<p>Los resultados de este análisis permitirán cuantificar algunas de las dimensiones del impacto ambiental de los basurales y ponerlo en contexto temporal. Por otro lado, servirá como estudio base para futuras evaluaciones relacionadas con la ocupación de basurales y para la planificación de políticas de manejo de residuos.
<p>Los resultados en formato de cartografías temáticas, estadísticas e imágenes asociadas serán volcados en herramientas digitales de Internet.

<!-- VILLAS Y ASENTAMIENTOS -->				
	
<h2>Conformaci&oacute;n de la visualizaci&oacute;n de Villas y Asentamientos</h2>


<p>La entidad "Villas y Asentamientos" (VyA) de QPR es una herramienta de visualizaci&oacute;n de los basurales a cielo abierto (BAC) en la cuenca, que utiliza informaci&oacute;n producida por <a href="http://www.infohabitat.com.ar/web/">INFOHABITAT</a> (proyecto de investigaci&oacute;n interdisciplinario, del Instituto del Conurbano de la UNGS, que trabaja sobre la tem&aacute;tica de la cuesti&oacute;n urbana - h&aacute;bitat popular, pol&iacute;ticas publicas, mercado del suelo, etc.) El sistema esta ideado para poder incluir futura informaci&oacute;n sobre este item en futuras etapas.</p>

<p>Relocalizaciones:<br />
Las relocalizaciones de Villas y Asentamientos precarios est&aacute;n inscriptas dentro del <a href="http://www.acumar.gov.ar/Informes/Gestion/plan_villas.pdf">"Plan de Urbanizaci&oacute;n de Villas y Asentamiento Precarios en Riesgo Ambiental de la Cuenca Matanza Riachuelo"</a> a cargo de ACUMAR. Dentro de este marco hemos georeferenciado los datos sobre relocalizaciones contenidos en la <a href="http://www.farn.org.ar/newsite/wp-content/uploads/2011/09/resolucion14072011.pdf"> resoluci&oacute;n del Juez Armella, Juzgado Federal de Quilmes del 14 de Julio de 2011</a> de las VyA afectadas por el camino de sirga. <a href="http://quepasariachuelo.org.ar/asentamientos/qpr-1">(Ejemplo)</a>.</p>


</div>