<div id='main' role='main' class='content'>

<h1>Datos abiertos</h1>

<p>Los Datos utilizados en QuePasaRiachuelo son públicos y abiertos. <br />
<strong>¿Qué significa que sean abiertos?</strong> Signfica que están en un formato abierto y que puede ser reutilizable por cualquiera que esté interesado en trabajar con ellos para construir otra aplicación o mejorar esta. De esta manera, la colaboración, la participación y la innovación son puestas en marcha al mismo tiempo.</p>

<p>Para acceder al Set de Datos Abiertos de QuePasaRiachuelo, este es el link: <a href="http://datospublicos.org/package/que-pasa-riachuelo" target="_blank">http://datospublicos.org/package/que-pasa-riachuelo</a></p>

</div>