<div id='main' role='main' class='content'>


<h1>¿Qué es QPR?</h1>

<p> “¿Qué pasa, Riachuelo?”, es una plataforma de monitoreo basada
en datos públicos y destinada a visualizar la problemática ambiental
de la Cuenca Matanza Riachuelo. </p>

<p> La misma ofrece una plataforma de información que permite
visualizar lo que sucede en el territorio de la cuenca, mediante el
mapeo y la georreferenciación de información ambiental, que en la
presente etapa de desarrollo abarca a las industrias, basurales a
cielo abierto y la población en situación de riesgo que habita en el
territorio. </p>

<p> Asimismo, QPR es una herramienta destinada a lograr la
participación activa de los vecinos de la cuenca, quienes pueden
localizar problemas ambientales de su entorno próximo y reportarlos a
la plataforma mediante la generación de alertas territoriales. </p>

<p> El sitio cuenta además con un semáforo de industrias que permite
medir el riesgo ambiental potencial de la actividad industrial en la
cuenca, como así también su comportamiento frente a los controles
efectuados por el Estado. Es por lo tanto una herramienta para
monitorear los avances de la gestión pública respecto al saneamiento
del Riachuelo y el seguimiento de la Causa Mendoza. </p>

<!-- p> “¿Qué pasa, Riachuelo?”, ha sido creado y diseñado por las
organizaciones que integran el EMR en alianza con GarageLab, y contó
con el apoyo de la Fundación AVINA, y aportes del Banco Mundial y de la
Heinrich Böll Stiftung. </p -->

<p> “¿Qué pasa, Riachuelo?” fue creado y desarrollado entre FARN y
GarageLab con la participación de las organizaciones que integran el
Espacio Matanza Riachuelo. </p>

</div>
