<div id='main' role='main' class='content'>

<p>&quot;¿Qué pasa Riachuelo?&quot; fue creado y desarrollado entre FARN y GarageLab con la participación de las organizaciones que integran el Espacio Matanza Riachuelo.</p>
<p>El <strong><a href="http://www.fundacionciudad.org.ar/espacio_matanza_riachuelo.htm" target="_blank">Espacio Matanza Riachuelo</a></strong>
es una red de organizaciones no gubernamentales, constituida para articular la participación y el control ciudadano en torno al saneamiento de la Cuenca Matanza Riachuelo (CMR), una de las áreas urbanas con mayor nivel de contaminación de la Argentina, constituyéndose además como un espacio común de articulación y de difusión de la problemática ambiental. </p>
<p><strong>Organizaciones que Constituyen el</strong><strong> EMR:</strong></p><table width="100%" border="0" cellspacing="0" cellpadding="15" class="logos">
				<tr>
								<td colspan="3"><span id="logo-emr"><a href="http://www.fundacionciudad.org.ar/espacio_matanza_riachuelo.htm" target="_blank"> Espacio Matanza Riachuelo</a></span></td>
				</tr>
				<tr>
								<td class="linea-fondo"><span id="logo-farn"><a href="http://www.farn.org.ar/" target="_blank">Fundación Ambiente y Recursos Naturales-
www.farn.org.ar</a></span></td>
								<td class="linea-fondo"><span id="logo-cels"><a href="http://www.cels.org.ar/" target="_blank">Centro de Estudios Legales y Sociales - www.cels.org.ar</a></span></td>
								<td class="linea-fondo"><span id="logo-avlb"><a href="http://www.avelaboca.org.ar/" target="_blank">Asociación de Vecinos de la Boca -
www.avelaboca.org.ar</a></span></td>
				</tr>
				<tr>
								<td class="linea-fondo"><span id="logo-acdh"><a href="http://www.acdh.org.ar/" target="_blank">Asociación Ciudadana por los Derechos Humanos -  www.acdh.org.ar</a></span></td>
								<td class="linea-fondo"><span id="logo-fundacion-ciudad"><a href="http://www.fundacionciudad.org.ar/" target="_blank">Fundación Ciudad -
www.fundacionciudad.org.ar</a></span></td>
								<td class="linea-fondo"><span id="logo-fundacion-metropolitana"><a href="http://www.metropolitana.org.ar/" target="_blank">Fundación Metropolitana - www.metropolitana.org.ar</a></span></td>
				</tr>
				<tr>
								<td class="linea-fondo"><span id="logo-greenpeace"><a href="http://www.greenpeace.org/argentina/" target="_blank">Greenpeace Argentina -
								www.greenpeace.org/argentina</a></span></td>
								<td class="linea-fondo"><span id="logo-poder-ciudadano"><a href="http://www.poderciudadano.org/" target="_blank">Poder Ciudadano -
								www.poderciudadano.org/</a></span></td>
								<td class="linea-fondo"></td>
				</tr>
</table>
<div style="clear:both"></div>
<span id="logo-garage-lab"><a href="http://garagelab.tumblr.com/" target="_blank">Garage Lab - garagelab.tumblr.com</a></span>
<p>Garage Lab esta conformado por un grupo de 23 miembros permanentes: tecnólogos, matemáticos, físicos, biólogos, programadores, urbanistas, politólogos, expertos en gestión de la innovación, artistas y una comunidad activa que asiste a los eventos, discute en las listas de correo, y participa de los proyectos.<br />
				Sus objetivos son: explorar la intersección de problemas de alto impacto y tecnologías emergentes; generar riqueza basada en conocimiento y transformar el perfil productivo de la Argentina capturando valor en industrias intensivas en conocimiento.
</div>
